body {
    background-color: black;
}

h1 {
    color: white;
}

#p1 {
    color: red;
}
#p2 {
    color: aquamarine;
}

#p3 {
    color: chartreuse;
}

#p4 {
    color: cyan;
}

.odd {
    color: gold;
}

.even {
    color: silver;
}

