body {
    margin: 20px;
}

.box {
    border: solid 3px;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}

#box1 {
    margin-bottom: 160px;
    background-color: cyan;
}

#box2 {
    background-color: brown;
}