body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.full{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 4px 128px;
    box-sizing: border-box;

    background-color: rgb(23,23,23);
}
.nav1{
    padding: 20px 0;
}
.container{
    padding: 0 16px;
    margin: 0 132px;

}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right ul li{
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-top: 50px;
    text-indent: 20px;
}
.nav-right a{
    text-decoration: none;
    color: white;

}
.heading{
    font-weight: 700;
    font-size: 128px;
    color: white;
    line-height: 0px;
}
.heading2{
    color: #a3a3a3;
    line-height: 35px;
}
footer{
    color: #a3a3a3;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
}
.content{
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
p{
    color: white;
    font-size: 18px;
    color:  #a3a3a3;

}
p:hover{
    color: white;
}
