* {
  background-color: white;
  font-weight: 800;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  text-indent: 25px;
  font-size: 15px;
  position: relative;
  text-align: right;
  padding: 13px 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: rgb(110, 110, 110);
}
nav a:hover{
  color:darkgoldenrod;
  transition: 0.5s;
}
nav li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
#but {
  padding: 15px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(110, 110, 110);
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 25px;
}
#top {
  width: 100vw;
  height: 500px;
}

.purple {
  background-color: rgb(46, 41, 64);
  position: relative;
}

#subdiv {
  background-color: rgb(46, 41, 64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(46, 41, 64);
  color: white;
}
#note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(46, 41, 64);
  color: white;
}
#proinsure{
  font-size: 30px;
}
